<div class="componentContent">
    <div class="abouTitleContent">
        <h2>À MON PROPOS</h2>
    </div>
    <div class="aboutMainContent">
        <p>Développeur web curieux, autonome, rigoureux, j'aime les applications simples, rapides et efficaces.</p>
        <p>Un sens de l'écoute et du service, une expertise technique en constante progression grâce à une formation perpétuelle. Motivé par le besoin de faire toujours mieux et appuyé par de solides bases acquises lors de mon parcours, je prends plaisir à relever de nouveaux challenges.</p>
    </div>


</div>


