<div class="componentContent">
  <div class="skillsContainer">
      <mat-tab-group class="skillsTabGroup">

          <!-- FRONT-END -->
          <mat-tab label="Front-end">
            <ul>
              <li><h3>HTML5/CSS3</h3></li>
              <li><h3>SASS</h3></li>
              <li><h3>JavaScript</h3> <p> > ES5, ES6, ES2015, ESNEXT</p></li>
              <li><h3>JQuery</h3></li>
              <li><h3>TypeScript</h3></li>
              <li><h3>Angular</h3></li>
              <li><h3>Ember</h3></li>
            </ul>            
          </mat-tab>
          <!-- BACK-END -->
          <mat-tab label="Back-end">
            <ul>
              <li><h3>Node.JS Avancé</h3><br><p>> ExpressJS, HapiJS, Mongoose</p></li>
              <li><h3>MongoDB with Node JS</h3></li>
            </ul>
          
          </mat-tab>
          <!-- OUTILS -->
          <mat-tab label="Outils">
            <ul>
              <li><h3>JavaScript Tooling with node</h3><br> <p>> babel, gulp, webpack</p> </li>
              <li><h3>Github</h3></li>
              <li><h3>Photoshop</h3></li>
              <li><h3>UX design, responsive</h3></li>
              <li><h3>Gestion de projet avec Scrum</h3></li>
            </ul>
           
          </mat-tab>
        </mat-tab-group>
        
  </div>

</div>
