<div class="componentContent">
  <div class="formationContainer">
<!-- ----TITRE -->
    <div class="title">
        <h1>TechnocITé </h1>
    </div>
    
    <!-- -----Contain -->
    <div class="tabContainer">
    
      <mat-tab-group class="tabGroupFormation">
      <!-- DETAILS -->
        <mat-tab label="Détails" > 
          <div class="details">
            <h2>Professionnels de l'IT: Développement web et mobiles</h2>
              <ul>
                <li>Rue Henri Degorges 7301 Hornu</li>
                <li>Organismes: Technocité- Cefora - Forem / Durée: 8 mois</li>
              </ul>
              <p>Formations pour informaticiens en réseaux, systèmes et développement</p>
          </div>
        </mat-tab>
      <!-- DESCRIPTION -->
        <mat-tab label="Description"> 
          <p>Après un tour des outils de UX-Design appliqués au web, nous avons abordé les notions
            fondamentales des langages et de la programmation.
            Le but de cette formation est de rendre accessible les technologies de développement en environnement Front-End.
            Nous avons abordé les technologies autour de Javascript (HTML5&CSS3, JQuery, Node JS, MongoDB, Angular JS, EmberJs..)
            Un atelier nous a permis de réaliser un projet pour mettre en pratique toutes les compétences obtenues dans cette
            formation qualifiante</p>  
        </mat-tab>
      <!-- PROGRAMME -->
        <mat-tab label="Programme"> 
                  <app-carousel></app-carousel>
        </mat-tab>
      </mat-tab-group>
    </div>
  
  </div>


</div>
