<div class="componentContent" >
    <div class="hobbyContainer">
         <div>
             <h2>Plongée sous-marine</h2>
             <ul>
                 <li><p>J'ai mon brevet de Plongée Open Water diving </p></li>
                 <li><p>Et je suis en train de passer le brevet suivant</p></li>
             </ul>
         </div>
         <div>
             <h2>Le jardinage et le bricolage</h2>
             <ul>
                 <li><p>J'aime travailler de mes mains</p></li>
             </ul>
         </div>
    </div>
</div>