
<div class="headContentBall">
  
  <div class="textName">
    <div class="contentName"><h1>Florian Asteur</h1></div>
  </div>

  <div class="ballContent">
    <div class="headBall">      
        <p class="headText">Développeur JavaScript</p>
    </div>
  </div>
  <div class="cyberCircuitContent">
    <div class="hideBarCircuit">

    </div>
    <div class="cyberCircuitFront">
      <img src="../../assets/public/images/cyber.svg" alt="cyber circuit">
    </div>
    <div class="cyberCircuitBack">
        <img src="../../assets/public/images/cyblightOrigin.svg" alt="fond de couleur">
    </div>
  </div>
</div>