/* BACKGROUND COLOR */
$interfaceColor:#040614;
$boardColor:#021d3a;

$boxShadowColor:0em 0em 0.7em #82bcff;
/* TEXT COLOR */
$textColor:#6fd6ff;
$textColorBoard: rgb(223, 234, 245);
/* FONT SIZE */
$h1FontSize:2.1em;
$h2FontSize:1.4em;
$h3FontSize:1.1em;
$pFontSize:1.1em; 
/* SCREEN */
$mobileScreen: 320px;
$tabletScreen: 765px;
$labtopScreen: 1439px;

/* FONT FAMILY */
$fontFamilyMain:'Jura',sans-serif;




